.cards {
  max-width: 880px;
  margin: 51px auto 0;
}

@media screen and (max-width: 940px) {
  .cards {
    max-width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    max-width: 282px;
    margin-top: 36px;
  }
}