.card__place {
  line-height: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 70px 0 0;
  padding-left: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}