.card__like-button {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .3s;
}

.card__like-button:hover {
  opacity: .6;
}